<%- include("include/header");%>
<main id="main">
  <nav id="filter">
    <h2 class="blind">filtering menu</h2>
    <ul>
      <li class="on" data-filter="item">ALL</li>
      <li data-filter="paint">PAINT</li>
      <li data-filter="photo">PHOTO</li>
      <li data-filter="sketch">SKETCH</li>
    </ul>
  </nav>
  <div class="mainBtns">
    <a href="/insert">글 쓰기</a>
    <a href="/list">목록</a>
  </div>
  <div id="works">
    <ul class="itemList">
      <% list.forEach((item,idx)=>{ %>
      <li class="item <%= item.category %>">
        <a href="<%= item.image %>" data-fancybox="<%= item.category %>" data-caption="<%= item.title %>">
          <div class="img">
            <img src="<%= item.image %>" alt="" />
          </div>
          <div class="info">
            <h2><%= item.title %></h2>
            <p class="desc"><%= item.desc %></p>
            <p class="point">
              <span class="num"><%= item.point %></span>
            </p>
          </div>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</main>
<div class="cursor">
  <span class="txt"></span>
</div>
<script>
  //prettier-ignore
  const itemList = $("#works .itemList");
  const filterList = $("#filter li");
  let grid = null;

  itemList.imagesLoaded().always(function () {
    grid = itemList.isotope({
      itemSelector: ".item",
      percentPosition: true,
      layoutMode: "masonry",
      getSortData: {
        point: ".point .num parseFloat",
      },
    });
    grid.isotope({ filter: ".item", sortBy: "point", sortAscending: false });
    // 시작하자마자 높은순 point정렬
  });

  filterList.on("click", function () {
    $(this).addClass("on").siblings().removeClass("on");
    const filter = $(this).data("filter");
    // html에 부여한 필터값 변수지정한 것
    grid.isotope({ filter: `.${filter}`, sortBy: "point", sortAscending: false });
    // 카테고리 클릭시 높은순 point정렬
  });

  const cursor = $(".cursor");
  $(window).on(
    "mousemove",
    _.throttle(function (e) {
      gsap.to(cursor, { left: e.clientX, top: e.clientY, duration: 0.2 });
    }, 1000 / 60)
  );

  $(".itemList").on("mouseenter", "li", function () {
    cursor.find(".txt").text("CLICK");
    gsap.killTweensOf(cursor);
    gsap.to(cursor, { width: 100, height: 100, backgroundColor: "#f00", ease: "elastic.in", duration: 1 });
  });
  $(".itemList").on("mouseleave", "li", function () {
    cursor.find(".txt").text("");
    gsap.killTweensOf(cursor);
    gsap.to(cursor, { width: 20, height: 20, backgroundColor: "#fff", ease: "power4", duration: 0.25 });
  });
</script>
<%- include("include/footer");%>
